html
  body
    .modal-header
      h3.modal-title Row settings
    .modal-body
      tabset
          tab(heading='General')
              label.col-sm-2.control-label(for='title') Title
              .col-sm-10
                input.form-control(type='text', ng-model='row.title')
              label.small Height
              input.input-mini(type='text', ng-model='row.height')
              label.small  Editable
              input(type='checkbox', ng-model='row.editable', ng-checked='row.editable')
              label.small  Collapsable
              input(type='checkbox', ng-model='row.collapsable', ng-checked='row.collapsable')
          tab(heading='Panels')
            .span12
              h4 Panels
              table.table.table-condensed.table-striped
                thead
                  th Title
                  th Type
                  th
                    | Span
                    span.small ({{rowSpan(row)}}/12)
                  th Delete
                  th Move
                  th
                  th Hide
                tr(ng-repeat='panel in row.panels')
                  td {{panel.title}}
                  td {{panel.type}}
                  td
                    select.input-mini(ng-hide='panel.sizeable == false', ng-model='panel.span', ng-options='size for size in [1,2,3,4,5,6,7,8,9,10,11,12]')
                  td
                    i.pointer.icon-remove(ng-click='row.panels = _.without(row.panels,panel)')
                  td
                    i.pointer.icon-arrow-up(ng-click='_.move(row.panels,$index,$index-1)', ng-hide='$first')
                  td
                    i.pointer.icon-arrow-down(ng-click='_.move(row.panels,$index,$index+1)', ng-hide='$last')
                  td
                    input(type='checkbox', ng-model='panel.hide', ng-checked='panel.hide')
          tab(heading='Add Panel')
            h4 Select Panel Type
            form.form-inline
              select.input-medium(ng-model='panel.type', ng-options='panelType for panelType in dashboard.availablePanels|stringSort')
              small(ng-show='rowSpan(row) > 11')
                | Note: This row is full, new panels will wrap to a new line. You should add another row.
            div(ng-show='!(_.isUndefined(panel.type))')
              div(add-panel='{{panel.type}}')
    .modal-footer
      button.btn.(ng-show='editor.index == 1', ng-click='editor.index = 2;', ng-disabled='panel.loadingEditor') Add Panel
      button.btn.btn-success(ng-show='panel.type && editor.index == 2', ng-click='editSave(row);add_panel(row,panel);reset_panel();editor.index = 0;dismiss();', ng-disabled='panel.loadingEditor') Save
      button.btn.btn-success(ng-hide='panel.type && editor.index == 2', ng-click='editor.index=0;editSave(row);dismiss();reset_panel();close_edit()') Save
      button.btn.btn-danger(type='button', ng-click='editor.index=0;dismiss();reset_panel();close_edit()') Cancel
