/*
Syntax error: File to import not found or unreadable: compass/css3.
              Load path: /home/bigbox/github/van/app/styles
        on line 7 of main.scss

2: 
3: @import "global/var";
4: // @import "sass-bootstrap/lib/bootstrap";
5: @import "../bower_components/sass-bootstrap/lib/bootstrap";
6: //@import "compass";
7: @import "compass/css3";
8: @import "global/var-pages";
9: 
10: 
11: @import "ui/ui";
12: //sections

Backtrace:
main.scss:7
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/bin/scss:23:in `load'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/bin/scss:23:in `<main>'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/bin/ruby_noexec_wrapper:14:in `eval'
/home/bigbox/.rvm/gems/ruby-1.9.2-p320/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3.\A               Load path: /home/bigbox/github/van/app/styles\A         on line 7 of main.scss\A \A 2: \A 3: @import \"global/var\";\A 4: // @import \"sass-bootstrap/lib/bootstrap\";\A 5: @import \"../bower_components/sass-bootstrap/lib/bootstrap\";\A 6: //@import \"compass\";\A 7: @import \"compass/css3\";\A 8: @import \"global/var-pages\";\A 9: \A 10: \A 11: @import \"ui/ui\";\A 12: //sections"; }
