$dark:                  #242633;

$header-bg-color: #ffffff;
$header-border: darken(#fff, 10%);

$header-link-color:  lighten(#000000, 50%);
$header-link-color-sm:  darken(#ffffff, 5%);
$header-link-hover-color: darken($header-link-color, 30%);
$header-link-hover-color-sm:  lighten($header-link-color-sm, 30%);

$header-nav-text-color: $header-link-color;

$header-menu-button-color: lighten($header-link-color, 30%);
$header-menu-button-hover-bg-color: darken($navbar-bg-color, 5%);

$header-dropdown-menu-hover-bg-color:  $navbar-bg-color;

header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: ($header-height * 2);
    background-color: $navbar-bg-color;
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));
    @media (min-width:$screen-sm) {
      height: $header-height;
      background-color: $header-bg-color;
    }

    // shared
    a {
        color: $header-link-color-sm;
        &:hover {
          text-decoration: none;
          color: $header-link-hover-color-sm;
        }

        @media (min-width: $screen-sm) {
          color: $header-link-color;
          &:hover {
            text-decoration: none;
            color: $header-link-hover-color;
          }
        }

    }

    .hidden-mobile {
        display: none;
        @media (min-width: $screen-xs) {
            display: inline;
        }
    }

    //
    .logo {
        position: absolute;
        width: 100%;
        height: $header-height;
        color: $header-link-color-sm;
        line-height: $header-height;
        text-align: center;
        @media (min-width: $screen-sm) {
            display: inline-block;
            width: 220px;
            color: $header-link-color;
            border-right: 1px solid $header-border;
        }

        > a {
            font-size: 24px;
            vertical-align: middle;
        }
    }

    // 

    .menu-button {
        display: block;
        position: absolute;
        right: 20px;
        width: 46px;
        margin: 5px 0px;
        border-radius: 4px;
        color: $header-menu-button-color;
        font-size: 28px;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color: $header-menu-button-hover-bg-color;
        }

        @media (min-width: $screen-sm) {
            display: none;
        }
    }

    // 
    .dropdown-menu.panel {
        padding: 0;
        white-space: nowrap;
        
        .panel-heading,
        .panel-footer {
            padding: 10px 15px;
        }

        .list-group-item {
            padding: 10px 15px;
            > a {
                display: block;
            }
        }

        .media {
            .media-body {
                padding-right: 75px;
            }
        }
    }


    // 
    .top-nav {
        width: 100%;
        padding: 50px 0 0;
        color: $header-nav-text-color;
        @media (min-width: $screen-sm) {
            padding: 0 0 0 220px;
        }

        // 
        .nav-left,
        .nav-right {
            font-size: 18px;
            line-height: 22px;

            > li {
                float: left;
                &.nav-profile {
                    > a {
                        padding: 10px 15px;
                    }
                    .hidden-xs {
                        padding-right: 8px;
                    }
                    i {
                        width: 18px;
                        font-size: 16px;
                        margin-right: 5px;
                    } 
                }

                > .toggle-min {
                    display: none;
                    @media (min-width:$screen-sm) {
                        display: block;
                    }
                }

                a {
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }

                > .btn-group > a,
                > a {
                    position: relative;
                    display: block;

                    height: 50px;
                    padding: 14px 10px;
                    @media (min-width:$screen-sm) {
                        padding: 14px 15px;
                    }

                    .badge {
                        position: absolute;
                        top: 6px;
                        right: 3px;
                    }
                }

                ul.dropdown-menu {
                    a:hover {
                        background-color: $header-dropdown-menu-hover-bg-color;
                        color: #fff;
                    }

                    .glyphicon {
                        margin-right: 10px;
                    }
                }
            }

            // color switch
            // .color-switch {
            //     > li {
            //         margin-bottom: 8px;
            //         &:last-child {
            //             margin-bottom: 0;
            //         }
            //     }
            // }
            // .color-option {
            //     display: block;
            //     padding: 10px;
            //     &.color-some_color {
            //         background-color: #482647;
            //         &:hover {
            //             background-color: lighten(#482647, 10%);
            //         }
            //     }
            // }
        }

        // 
        .nav-left {
            float: left;
            padding: 0;
            > li {
                border-right: 1px solid $header-border;
            }
        }

        // 
        .nav-right {
            padding: 0;
            > li {
                > a {
                    width: 50px;
                    text-align: center;
                }
            }

            .badge-info {
                background-color: transparent;
            }
        }
    }

    // 
    .langs {
        .active-flag {
            .flag {
                margin-top: -5px;
            }
        }

        .list-langs {
            a {
                position: relative;
                padding: 8px 20px 8px 57px;

                .flag {
                    position: absolute;
                    top: 2px;
                    left: 15px;
                }
            }
        }
    }
}

