html
  body
    div(ng-controller='terms', ng-init='init()')
      style.
        .pieLabel { pointer-events: none }
        .terms-legend-term {
        word-break: break-all;
        }
        .terms-remaining {
        bottom:0;
        top:0;
        background-color: #f00;
        }
        .terms-wrapper {
        display: table;
        width: 100%;
        }
        .terms-legend {
        display: table-row;
        height: 0;
        }
        .terms-legend {
        display: table-row;
        }
      .terms-wrapper
        // LEGEND
        #{{$id}}-legend.terms-legend(ng-show="panel.counter_pos == 'above' && (panel.chart == 'bar' || panel.chart == 'pie')")
          // vertical legend above
          table.small(ng-show="panel.arrangement == 'vertical'")
            tr(ng-repeat='term in legend')
              td
                i.icon-circle(ng-style='{color:term.color}')
              td.terms-legend-term(style='padding-right:10px;padding-left:10px;') {{term.label}}
              td {{term.data[0][1]}}
          // horizontal legend above
          span.small(ng-show="panel.arrangement == 'horizontal'", ng-repeat='term in legend', style='float:left;padding-left: 10px;')
            span
              i.icon-circle(ng-style='{color:term.color}')
              span.terms-legend-term {{term.label}}
              |  ({{term.data[0][1]}})
          span.small.pull-left(ng-show="panel.tmode == 'terms_stats'")
            | &amp;nbsp | {{ panel.tstat }} of 
            strong {{ panel.valuefield }}
        // keep legend from over lapping
        div(style='clear:both')
        // CHART
        .pointer.terms-chart(ng-show="panel.chart == 'pie' || panel.chart == 'bar'", terms-chart='', params='{{panel}}', style='position:relative')
        // LEGEND
        #{{$id}}-legend.terms-legend(ng-show="panel.counter_pos == 'below' && (panel.chart == 'bar' || panel.chart == 'pie')")
          // vertical legend below
          table.small(ng-show="panel.arrangement == 'vertical'")
            tr(ng-repeat='term in legend')
              td
                i.icon-circle(ng-style='{color:term.color}')
              td.terms-legend-term(style='padding-right:10px;padding-left:10px;') {{term.label}}
              td {{term.data[0][1]}}
          // horizontal legend below
          span.small(ng-show="panel.arrangement == 'horizontal'", ng-repeat='term in legend', style='float:left;padding-left: 10px;')
            span
              i.icon-circle(ng-style='{color:term.color}')
              span.terms-legend-term {{term.label}}
              |  ({{term.data[0][1]}})
          span.small.pull-left(ng-show="panel.tmode == 'terms_stats'")
            | &amp;nbsp | {{ panel.tstat }} of 
            strong {{ panel.valuefield }}
          div(style='clear:both')
        // END Pie or Bar chart
        // TABLE
        table.table.table-striped.table-condensed(ng-style='panel.style', ng-show="panel.chart == 'table'")
          thead
            th Term
            th {{ panel.tmode == &apos;terms_stats&apos; ? panel.tstat : &apos;Count&apos; }}
            th Action
          tr(ng-repeat='term in data', ng-show='showMeta(term)')
            td.terms-legend-term {{term.label}}
            td {{term.data[0][1]}}
            td
              span(ng-hide="term.meta == 'other'")
                i.icon-search.pointer(ng-click='build_search(term)')
                i.icon-ban-circle.pointer(ng-click='build_search(term,true)')
