html
  body
    .modal-body(bindonce='')
      .pull-right.editor-title(bo-text="panel.type+' settings'")
      div(ng-model='editor.index', bs-tabs='')
        div(ng-repeat='tab in setEditorTabs(panelMeta)', data-title='{{tab}}')
      div(ng-show="editorTabs[editor.index] == 'General'")
        div(ng-include='', src="'app/partials/panelgeneral.html'")
      div(ng-show="editorTabs[editor.index] == 'Panel'")
        div(ng-include='', src='edit_path(panel.type)')
      div(ng-repeat='tab in panelMeta.editorTabs', ng-show='editorTabs[editor.index] == tab.title')
        div(ng-include='', src='tab.src')
    .modal-footer
      // close_edit() is provided here to allow for a scope to perform action on dismiss
      button.btn.btn-success(type='button', ng-click='editor.index=0;editSave(panel);close_edit();dismiss()') Save
      button.btn.btn-danger(type='button', ng-click='editor.index=0;dismiss()') Cancel
