html
  body
    div(ng-controller='sparklines', ng-init='init()', style='min-height:{{panel.height || row.height}}')
      center
        img(ng-show='panel.loading && _.isUndefined(data)', src='img/load_big.gif')
      div(ng-repeat='series in data', style='margin-right:5px;text-align:center;display:inline-block')
        small.strong
          i.icon-circle(ng-style='{color: series.info.color}')
          |  {{series.info.alias}}
        br
        div(style='display:inline-block', sparklines-chart='', series='series', panel='panel')
