html
    body
        header.clearfix
            // Logo
            .logo
                a(href='#/')
                    // <span class="logo-icon glyphicon glyphicon-fire"></span>
                    span {{main.brand}}
            // needs to be put after logo to make it working
            .menu-button(toggle-off-canvas='')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .top-nav
                ul.nav-left.list-unstyled
                    li
                        a.toggle-min(href='#/', data-toggle-min-nav='')
                            i.fa.fa-bars
                    li.dropdown.text-normal.nav-profile
                        a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                            img.img-circle.img30_30(src='images/g1.jpg', alt='')
                            span.hidden-mobile
                                span Lisa Doe
                        ul.dropdown-menu.dropdown-dark.with-arrow
                            li
                                a(href='#/pages/profile')
                                    i.fa.fa-user
                                    span My Profile
                            li
                                a(href='#/tasks')
                                    i.fa.fa-check
                                    span My Tasks
                            li
                                a(href='#/pages/lock-screen')
                                    i.fa.fa-lock
                                    span Lock
                            li
                                a(href='#/pages/signin')
                                    i.fa.fa-sign-out
                                    span Log Out

                ul.nav-right.pull-right.list-unstyled
                    li.dropdown
                        a.dropdown-toggle.bg-orange(href='javascript:;', data-toggle='dropdown')
                            i.fa.fa-comment-o
                            span.badge.badge-info 2
                        .dropdown-menu.pull-right.with-arrow.panel.panel-default
                            .panel-heading
                                | You have 2 messages.
                            ul.list-group
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-info
                                                i.fa.fa-comment-o
                                        .media-body
                                            span.block Jane sent you a message
                                            span.text-muted 3 hours ago
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-danger
                                                i.fa.fa-comment-o
                                        .media-body
                                            span.block Lynda sent you a mail
                                            span.text-muted 9 hours ago
                            .panel-footer
                                a(href='javascript:;') Show all messages.
                    li.dropdown
                        a.dropdown-toggle.bg-warning(href='javascript:;', data-toggle='dropdown')
                            i.fa.fa-envelope-o
                            span.badge.badge-info 3
                        .dropdown-menu.pull-right.with-arrow.panel.panel-default
                            .panel-heading
                                | You have 3 mails.
                            ul.list-group
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-warning
                                                i.fa.fa-envelope-o
                                        .media-body
                                            span.block Lisa sent you a mail
                                            span.text-muted.block 2min ago
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-info
                                                i.fa.fa-envelope-o
                                        .media-body
                                            span.block Jane sent you a mail
                                            span.text-muted 3 hours ago
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-success
                                                i.fa.fa-envelope-o
                                        .media-body
                                            span.block Lynda sent you a mail
                                            span.text-muted 9 hours ago
                            .panel-footer
                                a(href='javascript:;') Show all mails.
                    li.dropdown
                        a.dropdown-toggle.bg-success(href='javascript:;', data-toggle='dropdown')
                            i.fa.fa-bell-o.nav-icon
                            span.badge.badge-info 3
                        .dropdown-menu.pull-right.with-arrow.panel.panel-default
                            .panel-heading
                                | You have 3 notifications.
                            ul.list-group
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-success
                                                i.fa.fa-bell-o
                                        .media-body
                                            span.block New tasks needs to be done
                                            span.text-muted.block 2min ago
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-info
                                                i.fa.fa-bell-o
                                        .media-body
                                            span.block Change your password
                                            span.text-muted 3 hours ago
                                li.list-group-item
                                    a.media(href='javascript:;')
                                        span.pull-left.media-icon
                                            span.square-icon.sm.bg-danger
                                                i.fa.fa-bell-o
                                        .media-body
                                            span.block New feature added
                                            span.text-muted 9 hours ago
                            .panel-footer
                                a(href='javascript:;') Show all notifications.
                    li
                        a.bg-info(href='#/tasks')
                            i.fa.fa-tasks
