.modal-body
  .pull-right.editor-title Dashboard settings
  %div{"bs-tabs" => "", "ng-model" => "editor.index", :style => "text-transform:capitalize;"}
    %div{"data-title" => "{{tab}}", "ng-repeat" => "tab in ['General','Index','Rows','Controls']"}
    %div{"data-title" => "{{tab.title || tab.type}}", "ng-repeat" => "tab in dashboard.current.nav|editable"}
  %div{"ng-if" => "editor.index == 0"}
    .editor-row
      .section
        .editor-option
          %label.small Title
          %input.input-large{"ng-model" => "dashboard.current.title", :type => "text"}/
        .editor-option
          %label.small Style
          %select.input-small{"ng-model" => "dashboard.current.style", "ng-options" => "f for f in ['dark','light']"}
        .editor-option
          %label.small Editable
          %input{"ng-checked" => "dashboard.current.editable", "ng-model" => "dashboard.current.editable", :type => "checkbox"}/
        .editor-option
          %label.small
            Hints
            %tip Show 'Add panel' hints in empty spaces
          %input{"ng-checked" => "dashboard.current.panel_hints", "ng-model" => "dashboard.current.panel_hints", :type => "checkbox"}/
  %div{"ng-if" => "editor.index == 1"}
    .editor-row
      .section
        %h5 Index Settings
        .row-fluid{"ng-show" => "dashboard.current.index.interval != 'none'"}
          .editor-option
            %p.small
              Time stamped indices use your selected time range to create a list of
              indices that match a specified timestamp pattern. This can be very
              efficient for some data sets (eg, logs) For example, to match the
              default logstash index pattern you might use
              = succeed "." do
                %code [logstash-]YYYY.MM.DD
              The [] in "[logstash-]" are
              important as they instruct Kibana not to treat those letters as a
              pattern. You may also specify multiple indices by seperating them with a comma(,).
              For example
              %code [web-]YYYY.MM.DD,[mail-]YYYY.MM.DD
              Please also note that indices should rollover at midnight
              = succeed "." do
                %strong UTC
            %p.small
              See
              %a{:href => "http://momentjs.com/docs/#/displaying/format/"} http://momentjs.com/docs/#/displaying/format/
              for documentation on date formatting.
    .editor-row
      .section
        .editor-option
          %h6 Timestamping
          %select.input-small{"ng-model" => "dashboard.current.index.interval", "ng-options" => "f for f in ['none','hour','day','week','month','year']"}
        .editor-option{"ng-show" => "dashboard.current.index.interval != 'none'"}
          %h6
            Index pattern
            %small Absolutes in []
          %input.input-large{"ng-model" => "dashboard.current.index.pattern", :type => "text"}/
        .editor-option{"ng-show" => "dashboard.current.index.interval != 'none'"}
          %h6
            Failover
            %i.icon-question-sign{"bs-tooltip" => "'If no indices match the pattern, failover to default index *NOT RECOMMENDED*'"}
          %input{"ng-checked" => "dashboard.current.failover", "ng-model" => "dashboard.current.failover", :type => "checkbox"}/
        .editor-option{"ng-show" => "dashboard.current.failover || dashboard.current.index.interval == 'none'"}
          %h6
            Default Index
            %small{"ng-show" => "dashboard.current.index.interval != 'none'"} If index not found
          %input.input-medium{"ng-model" => "dashboard.current.index.default", :type => "text"}/
        .editor-option
          %h6
            Preload Fields
            %i.icon-question-sign{"bs-tooltip" => "'Preload available fields for the purpose of autocomplete. Turn this off if you have many fields'"}
          %input{"ng-checked" => "dashboard.current.index.warm_fields", "ng-model" => "dashboard.current.index.warm_fields", :type => "checkbox"}/
  %div{"ng-if" => "editor.index == 2"}
    .row-fluid
      .span8
        %h4 Rows
        %table.table.table-striped
          %thead
            %th{:width => "1%"}
            %th{:width => "1%"}
            %th{:width => "1%"}
            %th{:width => "97%"} Title
          %tr{"ng-repeat" => "row in dashboard.current.rows"}
            %td
              %i.pointer.icon-arrow-up{"ng-click" => "_.move(dashboard.current.rows,$index,$index-1)", "ng-hide" => "$first"}
            %td
              %i.pointer.icon-arrow-down{"ng-click" => "_.move(dashboard.current.rows,$index,$index+1)", "ng-hide" => "$last"}
            %td
              %i.pointer.icon-remove{"ng-click" => "dashboard.current.rows = _.without(dashboard.current.rows,row)"}
            %td {{row.title||'Untitled'}}
      .span4
        %h4 Add Row
        %label.small Title
        %input.input-medium{"ng-model" => "row.title", :placeholder => "New row", :type => "text"}/
        %label.small Height
        %input.input-mini{"ng-model" => "row.height", :type => "text"}/
    .row-fluid
  %div{"ng-controller" => "dashLoader", "ng-if" => "editor.index == 3"}
    .editor-row
      .section
        %h5 Save to
        .editor-option
          %label.small Export
          %input{"ng-checked" => "dashboard.current.loader.save_local", "ng-model" => "dashboard.current.loader.save_local", :type => "checkbox"}/
        .editor-option
          %label.small Browser
          %input{"ng-checked" => "dashboard.current.loader.save_default", "ng-model" => "dashboard.current.loader.save_default", :type => "checkbox"}/
        .editor-option
          %label.small
            Gist
            %tip
              Requires your domain to be OAUTH registered with Github
              %tip/
          %input{"ng-checked" => "dashboard.current.loader.save_gist", "ng-model" => "dashboard.current.loader.save_gist", :type => "checkbox"}/
        .editor-option
          %label.small Elasticsearch
          %input{"ng-checked" => "dashboard.current.loader.save_elasticsearch", "ng-model" => "dashboard.current.loader.save_elasticsearch", :type => "checkbox"}/
      .section
        %h5 Load from
        .editor-option
          %label.small Local file
          %input{"ng-checked" => "dashboard.current.loader.load_local", "ng-model" => "dashboard.current.loader.load_local", :type => "checkbox"}/
        .editor-option
          %label.small Gist
          %input{"ng-checked" => "dashboard.current.loader.load_gist", "ng-model" => "dashboard.current.loader.load_gist", :type => "checkbox"}/
        .editor-option
          %label.small Elasticsearch
          %input{"ng-checked" => "dashboard.current.loader.load_elasticsearch", "ng-model" => "dashboard.current.loader.load_elasticsearch", :type => "checkbox"}/
        .editor-option{"ng-show" => "dashboard.current.loader.load.elasticsearch"}
          %label.small ES list size
          %input.input-mini{"ng-model" => "dashboard.current.loader.load_elasticsearch_size", :type => "number"}/
      .section
        %h5 Sharing
        .editor-option
          %label.small
            Allow Sharing
            %tip Allow generating adhoc links to dashboards
          %input{"ng-checked" => "dashboard.current.loader.save_temp", "ng-model" => "dashboard.current.loader.save_temp", :type => "checkbox"}/
        .editor-option{"ng-show" => "dashboard.current.loader.save_temp"}
          %label.small
            TTL
            %tip Expire temp urls
          %input{"ng-model" => "dashboard.current.loader.save_temp_ttl_enable", :type => "checkbox"}/
        .editor-option{"ng-show" => "dashboard.current.loader.save_temp &amp;&amp; dashboard.current.loader.save_temp_ttl_enable"}
          %label.small
            TTL Duration
            %tip Elasticsearch date math, eg: 1m,1d,1w,30d
          %input.input-small{"ng-model" => "dashboard.current.loader.save_temp_ttl", :type => "text"}/
  %div{"ng-if" => "editor.index == 3"}
    .editor-row
      .section
        %h5 Pulldowns
        .editor-option{"ng-repeat" => "pulldown in dashboard.current.pulldowns"}
          %label.small{:style => "text-transform:capitalize;"} {{pulldown.type}}
          %input{"ng-checked" => "pulldown.enable", "ng-model" => "pulldown.enable", :type => "checkbox"}/
        .editor-option{"ng-repeat" => "pulldown in dashboard.current.nav|editable"}
          %label.small{:style => "text-transform:capitalize;"} {{pulldown.type}}
          %input{"ng-checked" => "pulldown.enable", "ng-model" => "pulldown.enable", :type => "checkbox"}/
  %div{"ng-controller" => "PulldownCtrl", "ng-repeat" => "pulldown in dashboard.current.nav|editable", "ng-show" => "editor.index == 4+$index"}
    %ng-include{"ng-show" => "pulldown.enable", :src => "edit_path(pulldown.type)"}
    %button.btn{"ng-click" => "pulldown.enable = true", "ng-hide" => "pulldown.enable"} Enable the {{pulldown.type}}
.modal-footer
  %button.btn.btn-info{"ng-click" => "add_row(dashboard.current,row); reset_row();", "ng-show" => "editor.index == 2", :type => "button"} Create Row
  %button.btn.btn-success{"ng-click" => "editor.index=0;editSave(dashboard);dismiss();reset_panel();dashboard.refresh()", :type => "button"} Save
  %button.btn.btn-danger{"ng-click" => "editor.index=0;dismiss();reset_panel();dashboard.refresh()", :type => "button"} Cancel
