.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3 Last Elasticsearch Query
.modal-body
  %div
    %pre
      :preserve
        curl -XGET '{{config.elasticsearch}}/{{dashboard.indices|stringify}}/_search?pretty' -d '{{inspector}}'
            .modal-footer
  %button.btn.btn-success{"ng-click" => "dismiss()", :type => "button"} Close
