%div{"ng-include" => "'app/partials/panelgeneral.html'"}
%div{"ng-include" => "edit_path(panel.type)"}
%div{"ng-repeat" => "tab in panelMeta.editorTabs"}
  %h5 {{tab.title}}
  %div{"ng-include" => "tab.src"}
