.modal-body{:bindonce => ""}
  .pull-right.editor-title{"bo-text" => "panel.type+' settings'"}
  %div{"bs-tabs" => "", "ng-model" => "editor.index"}
    %div{"data-title" => "{{tab}}", "ng-repeat" => "tab in setEditorTabs(panelMeta)"}
  %div{"ng-show" => "editorTabs[editor.index] == 'General'"}
    %div{"ng-include" => "", :src => "'app/partials/panelgeneral.html'"}
  %div{"ng-show" => "editorTabs[editor.index] == 'Panel'"}
    %div{"ng-include" => "", :src => "edit_path(panel.type)"}
  %div{"ng-repeat" => "tab in panelMeta.editorTabs", "ng-show" => "editorTabs[editor.index] == tab.title"}
    %div{"ng-include" => "", :src => "tab.src"}
.modal-footer
  / close_edit() is provided here to allow for a scope to perform action on dismiss
  %button.btn.btn-success{"ng-click" => "editor.index=0;editSave(panel);close_edit();dismiss()", :type => "button"} Save
  %button.btn.btn-danger{"ng-click" => "editor.index=0;dismiss()", :type => "button"} Cancel
