.row-fluid
  :css
    .querySelect .query {
      margin-right: 5px;
    }
    .querySelect .selected {
      border: 3px solid;
    }
    .querySelect .unselected {
      border: 0px solid;
    }
  .span2{:style => "margin-left:0px"}
    %label.small Queries
    %select.input-small{"ng-change" => "set_refresh(true);", "ng-model" => "panel.queries.mode", "ng-options" => "f for f in ['all','pinned','unpinned','selected']"}
  .span9.querySelect{"ng-show" => "panel.queries.mode == 'selected'"}
    %label.small Selected Queries
    %span.query.pointer.badge{"ng-class" => "{selected:_.contains(panel.queries.ids,id),unselected:!_.contains(panel.queries.ids,id)}", "ng-click" => "panel.queries.ids = _.toggleInOut(panel.queries.ids,id);set_refresh(true);", "ng-repeat" => "id in querySrv.ids()", "ng-style" => "{'border-color': querySrv.list()[id].color}"}
      %i.icon-circle{"ng-style" => "{color: querySrv.list()[id].color}"}
      %span {{querySrv.list()[id].alias || querySrv.list()[id].query}}
