html
  body
    .page-forgot
      .signin-header
        .container.text-center
          section.logo
            a(href='#/') {{main.brand}}
      .info.text-center
        h2 Password Reset
        p.text-small
          | Enter your email address that you used to register. We&apos;ll send you an email with your username and a link to reset your password.
      .form-container
        form.form-horizontal(name='forgotPasswordForm')
          .form-group
            input.form-control.input-lg(type='email', placeholder='Email')
          .form-group
            a.btn.btn-lg.btn-block.btn-primary(href='#/') Send
